.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
        object-fit: contain;
        image-rendering: pixelated;
        width: 250px;
        height: 250px;
    }

    &-chart {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 3;
        grid-area: auto ;
        gap: 2rem;

    }
}

li {
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
}

label {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 1rem;
}