$link-color: #4478A6;
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 20%);

.cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.list {
  transition: scale .1s ease-in-out;
  text-align: center;
  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 0.99;
  }
  & > a{
    text-decoration: none;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }

  &:visited {
    color: $visited-color;
    border-color: $visited-color;
  }
}